<div>
    <h3>Ingrese el nuevo producto</h3>
    <form action="./ecommerce" method="POST">
        Nombre: <input type="text" name="nombre" id="nombre" required>
        <br>
        Calidad: <input type="text" name="calidad" id="calidad" required>
        <br>
        Precio: <input type="numbre" name="precio" id="precio" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
</div>