<div>
    <form action="./personas" method="POST">
        Nombre: <input type="text" name="nombre" id="nombre" required>
        <br>
        Apellido: <input type="text" name="apellido" id="apellido" required>
        <br>
        Edad: <input type="numbre" name="edad" id="edad" required>
        <br>
        Sexo: 
        <br>
        Mujer <input type="radio" name="sexo" id="sexo" value="Mujer" >
        <br>
        Hombre <input type="radio" name="sexo" id="sexo" value="Hombre">
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
</div>