<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- IMPORTANTE!! PARA AGREGAR LOS ESTILOS COLOCAR LOS ESTILOS EN LA CARPETA ESTATICA(en este caso la carpeta public) Y COLOCAR EL HREF COMO SI ESTUVIERA DENTRO DE LA CARPETA ESTATICA SI EL "." DEL COMIENZO -->
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>Hola soy la Pagina</h2> 
</body>
</html>